[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"

[packages]
click = "*"
ipaddr = "*"
fire = "*"
future = "*"
six = "*"
lacniclabs-0-1 = {git = "https://github.com/cm2c-internet-measurements/rir-netdatalib.git",editable = true}
cm2c-0-1-1 = {ref = "master",git = "https://github.com/carlosm3011/cm2c-python-lib.git",editable = true}

[requires]
python_version = "2.7"
