click
ipaddr
# airflow
fire
future
six
-e git+https://github.com/cm2c-internet-measurements/rir-netdatalib.git#egg=lacniclabs-0.1
-e git+https://github.com/carlosm3011/cm2c-python-lib.git@v2#egg=cm2c-0.1.1
